@font-face {
    font-family: Consolas;
    src: url(resources/Consolas-Regular.ttf);
}

* {
    font-family: Consolas;
    background-color: black;
    color: white;
    margin: 0px; padding: 0px;
    overflow-y: scroll;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

*::-webkit-scrollbar {
    display: none;
}

.middle_column {
    width: 60%;
    margin-left: 20%;
    margin-top: 50px;
}

.title {
    font-size: 200%;
    display: flex;
    flex-direction: row;
}

.gifbar {
    display: flex;
    margin-left: auto;
    align-self: center;
    height: 100%;
    min-width: 88px;
}

a {
    text-decoration: none;
}

a:hover {
    background-color: #444;
    text-decoration: underline;
}

p {
    margin: 7px;
}

h3 {
    margin: 7px;
}

.navbar {
    display: flex;
}

.book {
    margin: 5px;
    font-size: 90%;
}

.clickable:hover {
    cursor: pointer;
    text-decoration: underline;
    background-color: #444;
}

.dropdown:hover {
    cursor: pointer;
    background-color: #444;
}

.dropdown::after {
    content: " ▾";
    font-size: 0.8em;
}

.dropdown.open::after {
    content: " ▸";
}

.friend-ring {
    display: flex;
    margin-top: 14px; margin-bottom: 14px;
}

.friend-ring a {
    width: 88px;
    height: 31px;
    margin-right: 7px;
}

.friend-ring a:hover {
    filter: brightness(120%);
}

.blogpost {
    margin-left: 7px;
}